.container{
    /* display: grid; */
    grid-template-columns: repeat(3, 1fr);
    width:50%;
    height 60%
    grid-template-rows: auto;
    grid-template-areas: 
    "display display display"
    "key key key"
    "key key zero"
/* Need to make each key into a seperate grid item */

}
#display{
    grid-area: display;
    background-color: #fafafa;
    height:40px;
    width:120px;
}
.key{
    grid-area: key;
    color:rgb(171, 171, 243);
    background-color: black;
}
#zero{
    grid-area: zero;
}